/* CSS FOR TASK 04 */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.header
{
    display: grid;
    background-color:rgb(228, 78, 78);
    border-radius: 10px;
    grid-column: 2/4; 
}
.nav{
    margin-top: 10px;
    display: grid;
    background-color: aqua;
    border-radius: 10px;

}
.main{
    display: grid;
    width: 70%;
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
.article
{
    justify-self: center;
    background-color: rosybrown;
    border-radius: 10px;
    width: 50%;
}
.aside{
    display: grid;
    border-radius: 10px;
    background-color: yellow;
    width: 30%;
}
.footer{
    display: grid;
    background-color: darkgreen;
    border-radius: 10px;
    margin-top: 10px;
}

/* CSS for Task06 */
.container {
    width: 40%;
    height: 600px;
    border: groove grey;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.section {
    text-align: center;
    border: groove grey;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 10px;
}

.content {
    text-align: left;
}

/* CSS for Task 07 */
.navbar{
    background-color: rgb(130, 20, 164);
    color: white;
    justify-content: center;
    height: 10%;
    display: flex;
}
.child{
    float: left;
}
.panel1
{
    display: inline-block;
    background-color: aqua;
    padding-bottom: 100px;
}
.panel2
{
    display: inline-block;
    background-color: aqua;
    width: 15%;
    padding-bottom: 100px;
    margin-left: 3%;   
    padding-left: 5px;
}
.box
{
    display: inline-block;
    background-color: aqua;
    width: 60%;
    margin-left: 3%;
    padding-bottom: 80px;

}
